* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.post-container {
    width: 468px;
    height: 760px;
    padding: 16px 0 0 0;
    position: relative;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
}

.post-nickname {
    margin-left: 8px;
    font-size: 16px;
}

.more-btn {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 16px;
    top: 20px;
}

.more-options {
    display: none;
    position: absolute;
    top: 5%;
    right: 0;
    width: 60px;
    height: 80px;
    background-color: #67B5FA;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    flex-direction: column;
}
.more-options a{
    text-decoration-line: none;
    font-size: 24px;
    color: white;
}
.post-img-box {
    width: 468px;
    height: 468px;
    margin-top: 16px;
    border: 1px solid;
}
.icon-container {
    margin-top: 12px;
}
.post-title{
    margin-bottom: 20px;
}
.post-content{
    font-size: 126px;
}

.contents-container {
    margin-top: 12px;
    width: 468px;
    height: 150px;
    border: 1px solid;
    padding: 16px;
}