*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#viewContainer{
    display: flex;
    width: 833px;
    height: 535px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    flex-direction: column;
    border-radius: 15px;
    position: relative;
    border: 1px solid;
}
.title{
    font-size: 24px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.send-btn{
    position: absolute;
    width: 48px;
    height: 18px;
    color: #67B5FA;
    border: none;
    background-color: white;
    font-size: 18px;
    bottom: 13px;
    right: 16px;
}
.send-btn:hover{
    color: black;
}
.post-container{
    display: flex;
    flex-direction: row;
}
.img-box{
    width: 493px;
    height: 493px;
    padding: 24px;
    outline: none;
    border-right: 1px solid;
    border-top: 1px solid;
}
.title-box{
    width: 338px;
    height: 85px;
    padding: 24px;
    outline: none;
    border: none;
    margin-left: auto;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.content-box{
    width: 333px;
    height: 365px;
    padding: 24px;
    outline: none;
    border: none;
}
.comment-input{
    width: 340px;
    height: 30px;
    border: none;
    outline: none;
    padding: 8px;
    border-top: 1px solid;
}
.close-img{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 24px;
}